<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Regression Tests">


<suite-files>
	
	<suite-file path="Manifest.xml"></suite-file>	
	<suite-file path="RateEnquiry.xml"></suite-file>
	<suite-file path="CreateShipment.xml"></suite-file>
    <suite-file path="BookAPickup.xml"></suite-file>
	<!--<suite-file path="GenericTests.xml"></suite-file>
	<suite-file path="BaseWebdriver.xml"></suite-file>
	 
	<suite-file path="BaseWebdriver.xml"></suite-file> -->
		
	<!-- Blocked>	
	<suite-file path="GenericTests.xml"></suite-file>
<suite-file path="BookAPickup.xml"></suite-file>
	<suite-file path="CreateShipment.xml"></suite-file>
	
<suite-file path="BaseWebdriver.xml"></suite-file>
		<suite-file path="Manifest.xml"></suite-file>
		
	<suite-file path="RateEnquiry.xml"></suite-file>
		
		<suite-file path="GenericTests.xml"></suite-file>
		 </Blocked -->
	</suite-files>

</suite> <!-- Suite -->

