<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="baseWebdriver.BaseWebdriver"/>
      <class name="rateEnquiryE2ETests.TollIPECTests"/>
      <class name="rateEnquiryE2ETests.TollTasmaniaTests"/>
      <class name="rateEnquiryE2ETests.TollNQXTollExpressTests"/>
      <class name="rateEnquiryE2ETests.TollPriorityAUSTests"/>
      <class name="rateEnquiryE2ETests.TollPriorityNZTests"/>
      <class name="rateEnquiryE2ETests.TollIntermodalTests"/>
      <class name="bookAPickupE2ETests.TollTasmaniaTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
